.analyze-csv {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.chart-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
}

.half-width {
    width: 50%;
}

.full-width {
    width: calc(100% - 20px);
}
