.footer {
    background-color: #000000; /* 黑色背景 */
    color: #ffffff; /* 白色文字 */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* 陰影效果 */
}

.footer p {
    margin: 0;
    font-size: 14px;
}