body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: #000000; /* 黑色背景 */
    color: #ffffff; /* 白色文字 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-project {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 10%;
    background-color: #111111; /* 深黑色背景 */
}

.steps-container {
    margin: 20px 0;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upload-csv-container,
.generated-images-container {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: #222222; /* 深灰色背景 */
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.previous-button,
.next-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.previous-button {
    background: linear-gradient(45deg, #ff0000, #8B0000); /* 漸變红色 */
    color: white;
}

.previous-button:hover {
    background: linear-gradient(45deg, #8B0000, #ff0000); /* 深红漸變 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.next-button {
    background: linear-gradient(45deg, #B22222, #ff0000); /* 漸變紅色 */
    color: white;
}

.next-button:hover {
    background: linear-gradient(45deg, #ff0000, #B22222); /* 深红漸變 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.footer {
    align-self: center;
    margin-top: auto;
}

.charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.full-width {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .full-width {
        width: 100%;
    }
}
