body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-project {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 10%;
    background-color: #f5f7fa;
}

.steps-container {
    margin: 20px 0;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upload-csv-container,
.project-form-container,
.generated-images-container {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.previous-button,
.next-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.previous-button {
    background: linear-gradient(45deg, #3498db, #2980b9); /* 漸變藍色 */
    color: white;
}

.previous-button:hover {
    background: linear-gradient(45deg, #2980b9, #3498db); /* 深藍漸變 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.next-button {
    background: linear-gradient(45deg, #2ecc71, #27ae60); /* 漸變綠色 */
    color: white;
}

.next-button:hover {
    background: linear-gradient(45deg, #27ae60, #2ecc71); /* 深綠漸變 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
    align-self: center;
    margin-top: auto;
}

.charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.full-width {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .full-width {
        width: 100%;
    }
}
